/cog
.ipynb_checkpoints/
Untitled*.ipynb
__pycache__
.cog
.hypothesis/
build
dist
*.egg-info
pkg/dockerfile/embed/cog.whl
# Used by a vim plugin (projectionist)
.projections.json
.venv/
.idea/
.DS_Store
docs/README.md
docs/CONTRIBUTING.md
