/.direnv
/cog
.ipynb_checkpoints/
Untitled*.ipynb
__pycache__
.cog
.hypothesis/
build
dist
*.egg-info
pkg/dockerfile/embed/*.whl
# Used by a vim plugin (projectionist)
.projections.json
.tox/
.venv/
.idea/
.DS_Store
docs/README.md
docs/CONTRIBUTING.md
venv
base-image
