build==0.9.0
hypothesis==6.56.4
httpx==0.23.1
mypy==0.990
numpy==1.21.5
pillow==9.3.0
pytest==7.2.0
pytest-httpserver==1.0.6
pytest-xdist==3.1.0
responses==0.22.0
types-requests==2.25.1
types-PyYAML==5.4.1
types-redis==4.1.0
types-setuptools==65.5.0.2
