name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:

jobs:
  test:
    name: "Test Go"
    strategy:
      fail-fast: false
      matrix:
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources
        platform: [ubuntu-20.04, macos-10.15]
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ secrets.CACHE_VERSION }}-
      - name: "Build"
        run: make build
      - name: Test
        run: make test-go

  test-cog-library:
    name: "Test Cog library"
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/pkg/docker/cog_test_requirements.txt') }}
          restore-keys: |
            pip-${{ secrets.CACHE_VERSION }}-
      - name: Install requirements
        run: pip install -r pkg/docker/cog_test_requirements.txt
      - name: Test
        run: make test-cog-library

  # cannot run this on mac due to licensing issues: https://github.com/actions/virtual-environments/issues/2150
  test-integration:
    name: "Test (integration)"
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: test-integration
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            go-${{ secrets.CACHE_VERSION }}-
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/test-integration/requirements.txt') }}
          restore-keys: |
            pip-${{ secrets.CACHE_VERSION }}-
      - name: Install
        run: |
          (cd ../ && make install)
          pip install -r requirements.txt
      - name: Test
        run: make test

  main-trigger:
    needs: [test, test-integration]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - run: ${{ secrets.MAIN_TRIGGER }}

  release:
    needs: [test, test-integration]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
