name: Deploy docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Generate CLI docs
        run: go run ./tools/gendocs/main.go -o docs/cli.md

      - name: Copy top-level docs like README and CONTRIBUTING
        run: |
          sed 's/docs\///g' README.md > ./docs/README.md
          cp CONTRIBUTING.md ./docs/

      - name: Deploy
        run: |
          pip install mkdocs-material
          mkdocs gh-deploy --force
