name: Deploy docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Copy top-level docs like README and CONTRIBUTING
        run: |
          sed 's/docs\///g' README.md > ./docs/README.md
          cp CONTRIBUTING.md ./docs/

      - name: Deploy
        run: |
          pip install mkdocs-material
          mkdocs gh-deploy --force
